body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: left;
}

.menu {
  display: flex;

  margin: 0;
  padding: 0 22px;
  padding-right: 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  list-style: none;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none;
  line-height: 16px;
  color: inherit;
}

.button {
  display: inline-block;
  padding: 10px 15px;

  text-decoration: none;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  background-color: #256eeb;
  border-radius: 5px;
  color: #ffffff;
}

.search-panel {
  display: flex;
  height: 50px;
  margin-top: 24px;
  padding: 3px;

  background-color: #256eeb;
  border-radius: 5px;
}

.search-input {
  flex-grow: 1;
  padding-left: 22px;
  padding-right: 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.search-button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 17px;

  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  background-color: #256eeb;
  border: none;
}

.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;

  margin-top: 12px;
}

.page-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 -15px;
}

.card {
  max-width: 264px;
  margin: 0 12px 20px;
}

.card-link {
  text-decoration: none;
}

.card-image {
  width: 264px;
  height: 178px;
  border-radius: 10px;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 12px;
}

.card-title {
  margin: 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}

.like {
  margin-left: 15px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.card-price {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.sidebar-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.sidebar hr {
  margin: 37px 0 0;
}

.services {
  width: 231px;
}

.service-item {
  margin-bottom: 25px;
}

.service-title {
  margin: 7px 0 5px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.service-text {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
}

.footer-text {
  margin-top: 19px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 16px;

  color: #c4c4c4;
}

.footer-link {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 16px;

  color: #c4c4c4;
}

.footer-menu {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item {
  margin-top: 5px;
}

.footer-menu-link {
  color: inherit;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
}
.content {
  max-width: 460px;
}

.swiper-image {
  width: 100%;
  border-radius: 10px;
}
