body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}

.main-header {
  padding-top: 30px;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: left;
}

.menu {
  display: flex;

  margin: 0;
  padding: 0 22px;
  padding-right: 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  list-style: none;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none;
  line-height: 16px;
  color: inherit;
}

.button {
  display: inline-block;
  padding: 10px 15px;

  text-decoration: none;
  cursor: pointer;
}

.button-link {
  color:inherit;
}

.button-primary {
  background-color: #256eeb;
  border-radius: 5px;
  color: #ffffff;
}

.search-panel {
  display: flex;
  height: 50px;
  margin-top: 24px;
  padding: 3px;

  background-color: #256eeb;
  border-radius: 5px;

}

.search-input {
  flex-grow: 1;
  padding-left: 22px;
  padding-right: 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.search-button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 17px;

  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  background-color: #256eeb;
  border: none;
}

.search-button-text {
  margin-left: 5px;
}